body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3f2fd; /* Light blue background */
    position: relative; /* To position ownership text */
}

#ownership {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #555;
    text-align: left; /* Ensure text is left-aligned */
}

#ownership p {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    margin: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin: 0 auto 20px; /* Center the logo horizontally and add margin-bottom */
    display: block;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #666;
    margin: 20px auto;
    max-width: 700px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 150px; /* Ensure textarea is taller by default */
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue color */
}

button[type="submit"]:focus {
    outline: none;
    background-color: #0056b3; /* Darker blue color */
}

@media (max-width: 600px) {
    #container {
        padding: 20px;
    }

    form {
        padding: 15px;
    }

    input[type="text"], input[type="email"], textarea {
        padding: 12px;
        font-size: 14px;
    }

    button[type="submit"] {
        padding: 12px;
        font-size: 14px;
    }
}
