/* reference.css */

/* Set background color to match the main page */
body {
    background-color: #f0f8ff;
    font-family: 'Open Sans', sans-serif;
    /* margin: 10; */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
}

/* Additional styles for the reference page */
h1 {
    font-size: 2em;
    margin-top: 20px;
    color: #333;
}

.toolbar {
    display: flex; /* Aligns links in a row */
    padding: 10px 0; /* Vertical padding */
    justify-content: center; /* Centers links horizontally */
}

.toolbar a {
    color: #333; /* Dark text color for readability */
    background-color: #ffffff; /* Light background for each link/button */
    text-decoration: none; /* Removes underline from links */
    padding: 10px 20px; /* Padding around the text */
    margin: 0 5px; /* Space between buttons */
    border: 1px solid #ccc; /* Subtle border for definition */
    border-radius: 5px; /* Rounded corners for a modern look */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.toolbar a:hover, .toolbar a:focus {
    background-color: #0056b3; /* Change background on hover/focus */
    color: #ffffff; /* Light text color on hover/focus */
    outline: none; /* Removes the outline on focus for cleaner look */
}

#reference-content {
    margin: 20px 0;
    padding: 10px;
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    font: 'Open Sans';
    max-height: 450px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container {
    margin-left: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}

.logo {
    width: 300px;
    height: auto;
    margin: -100px auto;
    display: block;
}
